[Unit]
Description=Ubiq Mining Pool Unlocker
After=network.target

[Service]
ExecStart=/etc/ubiqpool/scripts/run-ubiqpool-unlocker.sh
Restart=on-failure

# Specifies which signal to use when killing a service. Defaults to SIGTERM.
# SIGHUP gives parity time to exit cleanly before SIGKILL (default 90s)
KillSignal=SIGHUP

[Install]
WantedBy=default.target

