<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
  <div class="container">

    <a class="navbar-brand" href="/">
      <object type="image/svg+xml" data="/assets/images/ubiq.svg" class="brand-logo"></object>
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse-1" aria-controls="navbar-collapse-1" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar-collapse-1">      
      <ul class="navbar-nav nav-tabs mr-auto" role="tablist">              
        <li class="nav-item">
          {{#link-to 'index' current-when='index' class="nav-link"}}
          <i class="fa fa-home"></i> Home
          {{/link-to}}
        </li>>
      
        <li class="nav-item">
          {{#link-to 'blocks' current-when='blocks' class="nav-link"}}          
            <i class="fa fa-cubes"></i>
              &nbsp;Pool Blocks
              {{#if poolStats.newBlocks}}
                <span class="badge badge-light">{{poolStats.newBlocks}}</span>
              {{/if}}                
          {{/link-to}}
        </li>>
      
        <li class="nav-item">
          {{#link-to 'payments' current-when='payments' class="nav-link"}}
          <i class="fa fa-money"></i> Payments
          {{/link-to}}
        </li>                                
      
        <li class="nav-item">
          {{#link-to 'miners' current-when='miners' class="nav-link"}}
            <i class="fa fa-users"></i> Miners
            {{#if poolStats.minersOnline}}
              <span class="badge badge-light">{{poolStats.minersOnline}}</span>
            {{/if}}
          {{/link-to}}          
        </li>

        <li class="nav-item">
          {{#link-to 'help' current-when='help' class="nav-link"}}
            <i class="fa fa-question"></i> Help
          {{/link-to}}
        </li>                    

        <li class="nav-item">
          {{#link-to 'about' current-when='about' class="nav-link"}}
          <i class="fa fa-comments"></i> About
          {{/link-to}}
        </li>            
      </ul>
    </div>

  </div>
</nav>