
<div class="container">
    <div class="card">
        <div class="card-body" style="white-space:nowrap;overflow-x:hidden;">
            <span style="font-size:24px;vertical-align: middle;">{{title}}</span>
            <span style="font-size:16px;vertical-align: middle;">{{after-title}}</span>
            <div>
                {{info}}
            </div>
            <div>
                {{yield}}
            </div>
        </div>
    </div>
</div>
