/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background: url('/assets/images/bg.png');
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}
.center {
  align-items: center;
  display: flex;
}

.truncate-ellipsis {
  display: table;
  table-layout: fixed;
  width: 100%;
  white-space: nowrap;
}

.truncate-ellipsis > * {
  display: table-cell;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body {
  padding-top: 20px;
  padding-bottom: 5px;
}

body > .container {
  padding: 0px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {  
  padding-right: 15px;
  padding-left: 15px;
}

.jumbotron {	
  padding: 10x;   
  margin: 10px 0px 15px 0px;
  
  color: black;  
  border: 1px;
  border-color: #61BD81;  
  border-style:solid;
}

.jumbotron-brand {    
  padding: 10px; 
  margin: 10px 0px 15px 0px;
  background-color: #e9ffee;
  
  color: black;  
  border: 1px;
  border-color: #61BD81;
  border-style:solid; 
}

.hash {
  font-family: Courier, monospace;
}

span.logo-1 {
	font-weight: 700;
  font-style: italic;
	color: #61BD81;
  padding: 0 7px 0 23px;
}

span.logo-2 {
	font-weight: 700;
	color: #4A4A4A;
  padding: 0 3px 0 5px;
}

.ubiq {
  height: 30px;
  width: 30px;
  pointer-events: none;
}

.ubiq-green > object{
  float: left;
}

.ubiq-green > strong{
  float: left;
}

.flag  {
  height: 150px;
  width: 250px;
  pointer-events: none;
}

/* That time i figured out how to do that thing to scale svg

  .ubiq-green {
  transform: scale(0.4);
  transform: translate(-200px, -50px);
}
*/
/*------------------------Nav Bar----------------------------*/
.navbar-default {
	background-color: #ffffff;
	border-color: #61BD81;
  border-bottom-width: 2px;
  text-align: center;
  width: 100%;  
}

/*-----------------Ceneter Nav Bar Links---------------------*/
.navbar-header {
  display: block;
}
.navbar-brand {
  display: flex;
  align-items: center;
}
.navbar-brand > object {
  float: left;
}
.navbar-collapse {
  float:left;
}
.navbar-nav {
  width: 100%;  
  text-align: center;
  display: inline-block;
}
.navbar-nav > li {  
    float: none;
    display: inline-block;  
}
/*------------------------------------------------------------*/


.navbar-default .navbar-brand {
  color: #4A4A4A;
  float: left;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #61BD81;
  background-color:rgb(200, 200, 200);
}
.navbar-default .navbar-brand .active > a {
	color: #ffffff;
  background-color: #61BD81;
}
.navbar-default .navbar-text {
	color: #4A4A4A;
}
.navbar-default .navbar-nav > li > a {
	color: #4A4A4A;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #61BD81;
  background-color:rgb(200, 200, 200);
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #ffffff;
  background-color: #61BD81;  
  background-image: none;
}

/*----------------------Nav Bar Toggle-------------------------------*/
.navbar-default .navbar-toggle {
	border-color: #2885da;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: #2885da;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #4A4A4A;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	border-color: #4A4A4A;
}
.navbar-default .navbar-link {
	color: #4A4A4A;
}
.navbar-default .navbar-link:hover {
	color: #ffffff;
}
.navbar-collapse {
	font-size: 14px;
	font-weight: 200;
}




.note {
	margin: 0 0 20px 0;
	padding: 15px 30px 15px 15px;
	border-left: 5px solid #eee;
	border-radius: 5px;
}

.note-info {
	background-color: #E8F6FC;
	border-color: #57b5e3;
}

.note-danger {
	background-color: #fce8e8;
	border-color: #ff0000;
}

h4.note {
	margin-top: 0;
	font-weight: 300 !important;
}


/*---------------------------------------------------------------------------------------------------*/
/*----------------------------x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x----------------------------*/
/*---------------------------------------------------------------------------------------------------*/

/* Stats */
.stats {
	margin-bottom: 10px;
	margin-top: 5px;
}
.stats:last-child{
	width: auto;
}
.stats > h3 > i {
	width: 21px;
}
.stats > div{
	padding: 5px 0;
}
.stats > div > .fa {
	width: 25px;
}
.stats > div > span:first-of-type{
	font-weight: bold;
}

/*--------------------------------------| Bootstrap overrides |--------------------------------------*/

.ul, .ul-link {
  font-weight: 200;
  text-align: center;
}

.ul-link:hover, .ul-link:focus {
  color: inherit;
  text-decoration: none;
  opacity: .70;
}

.ul-default {
    color: #777;
    border-bottom: 2px solid #777;
}

.ul-primary {
    color: #428bca;
    border-bottom: 2px solid #428bca;
}

.ul-success {
    color: #5cb85c;
    border-bottom: 2px solid #5cb85c;
}

.ul-danger {
    color: #d9534f;
    border-bottom: 2px solid #d9534f;
}

.ul-warning {
    color: #f0ad4e;
    border-bottom: 2px solid #f0ad4e;
}

.ul-info {
    color: #5bc0de;
    border-bottom: 2px solid #5bc0de;
}

.ul-ubiq {
    color: #61BD81;
    border-bottom: 2px solid #61BD81;
}

/*-----------------------------------------| Custom Classes |-----------------------------------------*/

.btn-ubiq {
  background-color: #61BD81;
  border-color: #408c5a;
}

.btn-ubiq:hover {
    color: #fff;
    background-color: #428359;
    border-color: #2c623e;
}

/*--------------------------------------| x-x-x-x-x-x-x-x-x-x |--------------------------------------*/