{{page-header title="About"}}

<div class="container"> 
  
    <div class="card">
      <div class="card-header">
        Details
      </div>
      <div class="card-body">           
        <ul class="list-group">
          <li class="list-group-item">Mining Pool written in <a href="https://golang.org/" target="_blank">Go</a>.  It's a highly concurrent and low RAM consuming piece of code</li>
          <li class="list-group-item">High performance proxy</li>
          <li class="list-group-item">Payouts and block unlocking module</li>
          <li class="list-group-item">Designed for 100% distributed setup</li>
          <li class="list-group-item">Strict policy module</li>
          <li class="list-group-item">Beautiful modern <a href="https://www.emberjs.com/" target="_blank">Ember.js</a> frontend, styled with <a href="https://getbootstrap.com/" target="_blank">Bootstrap</a>.</li>
          <li class="list-group-item">
            <div class="text-center">
              <p class="text-muted" style="margin:25px 0">&copy; | Powered by
                <a href="https://github.com/sammy007/ubiq-mining-pool" target="_blank">open-ethereum-pool</a>
              </p>
            </div>
          </li>
        </ul>
      </div>
    </div>  

  
    <div class="card">
      <div class="card-header bg-warning text-dark">
        Terms of Service
      </div>
      <div class="card-body">            
        By using the pool you accept all possible risks related to experimental software usage.
        <br>                
        Pool owner can't compensate any irreversible losses, but will do his best to prevent worst case.            
      </div>
    </div>
  

</div>
