<div class="container">
    <div class="page-header">
        <h1>How To Mine</h1>
    </div>

    <div class="col-md-12" style="border-bottom: 1px solid #eee; padding-bottom: 15px; margin-bottom: 15px;">
        <div class="page-header">
            <h2>Stratum Mining (S)</h2>
        </div>
        {{#if model.miningApps}} 
        {{partial "help/mining-apps"}} 
        {{else}}
        <div>
            <p class="lead">Point your favorite Ethash mining application at {{config.StratumHost}}:{{config.StratumPort}} and be sure to
                include you &lt;YOUR_UBIQ_ADDRESS&gt; and &lt;YOUR_RIG_ID&gt;
            </p>
        </div>
        {{/if}}

        <div class="col-md-12">
            <div class="col-md-6">

                <h4>Advice</h4>
                <div>
                    <p>CPU mining is not recommended.</p>
                    <h4>Terms of Service</h4>
                    <p>
                        By using the pool you accept all possible risks related to experimental software usage.
                        <br/> Pool owner can't compensate any irreversible losses, but will do his best to prevent worst case.
                    </p>
                </div>

                <h4>Contact</h4>
                <div>
                    <p>You can contact
                        <strong>avocadoChill</strong> on the
                        <a href="https://discord.gg/HF6vEGF" target="_blank">Ubiq Discord server</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>